<div class="mb-2">
  <%= render PageHeaderComponent.new do %>
    <%= render PageTitleComponent.new(title: "Teams") %>
  <% end %>
</div>

<div class="mt-4 mb-4">
  <%= render AddLinkComponent.new(href: new_team_path, text: "team") %>
</div>

<div class="pb-2 mb-2 font-bold border-b">
  Existing teams
</div>

<% if @teams.any? %>
  <ul>
    <% @teams.order(name: :asc).each do |team| %>
      <li class="mb-1">
        <%= link_to team do %>
          <div class="flex space-x-1 sm:items-center">
            <%= render RightChevronComponent.new %>
            <span><%= team.name %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <div>
    Teams are listed here.
    Go ahead and
    <%= link_to "create one now", new_team_path, class: "hover:underline text-gray-600" %>.
  </div>
<% end %>
